<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="page-container">
    <h1 style="color: #c6fff3;">Login</h1>
    <% if (errMsg) { %>
      <p style="color: red;"><%= errMsg %></p>
    <% } %>

    <form class="my-form" action="/login" method="post">
      <label for="email">Email</label><br>
      <input type="email" name="email" id="email"><br>
      <label for="password">Password</label><br>
      <input type="password" name="password" id="password"><br>
      <button type="submit">Login</button>
    </form>

    <span>Don't have an account? <a style="color: white; text-decoration: underline;" href="/register">Register</a></span>
  </div>
</body>
</html>