<form class="my-form" action="/user/newpost" method="post" enctype="multipart/form-data">
  <h3 style="color: #c6fff3;">New Post</h3><br>
  <% if (errMsgs) { %>
    <% errMsgs.split(",").forEach(errMsg => { %>
      <p style="color: red;"><%= errMsg %></p>
    <% }) %>
  <% } %>
  <label for="cover">Post Cover (image file): </label><br>
  <input type="file" name="cover" id="cover"><br>
  <label for="message">Post Message: </label><br>
  <textarea name="message" id="message" cols="30" rows="4" placeholder="e.g: Wonderful Indonesia"></textarea><br>
  <button type="submit">Post</button>
</form>