<form class="my-form" action="/user/status" method="post">
  <label for="status">Set status: </label><br><br>
  <input type="text" name="status" id="status" value="<%= user.status %>" placeholder="e.g: Coding is my middle name"><br>
  <button type="submit">Set</button>
</form>