* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #1a1a1a;
  text-decoration: none;
  transition: color 100ms, background-color 100ms;
}

body {
  background-color: #00a179;
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.new-post {
  position: fixed;
  bottom: 60px;
  right: 60px;
}

.new-post div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00be9f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 100ms;
}

.new-post div:focus,
.new-post div:hover {
  transform: rotate(180deg);
}

.new-post div:active {
  background-color: #75ffe1;
}

.new-post img {
  width: 40px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 20px;
  background-color: #00976a;
  box-shadow: 0 1px 2px #00000070;

}

.company {
  flex-grow: 1;
  flex-basis: 0;
}

.profile {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
}

nav {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}

.nav-btn:focus,
.nav-btn:hover {
  background-color: #75ffe1;
  color: #1a1a1a;
}

.nav-btn:active {
  background-color: #00bd8e;
}

.post-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 600px;
  margin: 10px;
  transition: transform 100ms;
}

.post-box:hover {
transform: scale(1.02);
}

.post-inner-box {
  width: 100%;
  background-color: #75ffe1;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 #00000054;
}

.post-box span {
  text-shadow: 0 1px 1px black;
}

.post-box span,
.post-box p {
  margin: 10px;
}

.post-box img {
  width: 600px;
  height: 600px;
  border-radius: 10px 10px 0 0;
}

.btn,
.btn:visited {
  display: inline-block;
  padding: 5px;
  margin: 0 3px;
  background-color: #00be9f;
  color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #000000ab;
}

.btn:focus,
.btn:hover {
  background-color: #80ffdf;
  color: #1a1a1a;
}

.btn:active {
  background-color: #00bd8e;
}

.action-btn {
  padding: 5px 10px;
}

.my-form {
  font-size: 1.3rem;
  margin: 40px;
}

.my-form label {
  color: #c6fff3;
}

.my-form input {
  background-color: #c6fff3;
  border: 1px solid #004b33;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.3rem;
}

.my-form button {
  padding: 10px 30px;
  border: none;
  margin: 10px;
  border-radius: 4px;
  background-color: #00be9f;
  color: white;
}

.my-form button:focus,
.my-form button:hover {
  background-color: #75ffe1;
  color: #1a1a1a;
}

.my-form button:active {
  background-color: #00976a;
}